<div class="card">
  <form novalidate [formGroup]="userForm" (ngSubmit)="save()">
    <div class="field">
      <label i18n for="firstname">First Name</label>
      <input
        pInputText
        id="firstname"
        type="text"
        class="p-inputtext-sm inputfield w-full"
        formControlName="first_name"
        [ngClass]="{ 'p-error': userForm.get('first_name')?.errors }"
      />
      <small class="p-error" i18n *ngIf="userForm.get('first_name').errors?.['required']">
        Please enter a first name.
      </small>
    </div>
    <div class="field">
      <label i18n for="lastname">Last Name</label>
      <input
        pInputText
        id="lastname"
        type="text"
        class="p-inputtext-sm inputfield w-full"
        formControlName="last_name"
        [ngClass]="{ 'p-error': userForm.get('last_name')?.errors }"
      />
      <small class="p-error" i18n *ngIf="userForm.get('last_name').errors?.['required']">
        Please enter a last name.
      </small>
    </div>
    <div class="field">
      <label i18n for="id">ID</label>
      <input
        pInputText
        id="id"
        type="number"
        class="p-inputtext-sm inputfield w-full"
        formControlName="id"
        [ngClass]="{ 'p-error': userForm.get('id')?.errors }"
      />
      <small class="p-error" i18n *ngIf="userForm.get('id').errors?.['required']"> Please enter an ID. </small>
      <small class="p-error" i18n *ngIf="userForm.get('id').errors?.['min']"> Minimum ID is 1. </small>
    </div>
    <div class="field">
      <label i18n for="email">Email</label>
      <input
        pInputText
        id="email"
        type="email"
        class="p-inputtext-sm inputfield w-full"
        formControlName="email"
        [ngClass]="{ 'p-error': userForm.get('email')?.errors }"
      />
      <small class="p-error" i18n *ngIf="userForm.get('email').errors?.['required']"> Please enter an email. </small>
      <small class="p-error" i18n *ngIf="userForm.get('email').errors?.['email']"> Please enter a valid email. </small>
    </div>
    <div class="field">
      <label i18n for="password">Password</label>
      <input
        pInputText
        id="password"
        type="text"
        class="p-inputtext-sm inputfield w-full"
        formControlName="password"
        [ngClass]="{ 'p-error': userForm.get('password')?.errors }"
      />
      <small class="p-error" i18n *ngIf="userForm.get('password').errors?.['required']">
        Please enter a password.
      </small>
    </div>
    <div class="field">
      <label i18n for="role">Role</label>
      <input
        pInputText
        id="role"
        type="text"
        class="p-inputtext-sm inputfield w-full"
        formControlName="role"
        [ngClass]="{ 'p-error': userForm.get('role')?.errors }"
      />
      <small class="p-error" i18n *ngIf="userForm.get('role').errors?.['required']"> Please enter a role. </small>
    </div>
    <div class="field">
      <label i18n for="permissions">Permissions</label>
      <input
        pInputText
        id="permissions"
        type="text"
        class="p-inputtext-sm inputfield w-full"
        formControlName="permissions"
        [ngClass]="{ 'p-error': userForm.get('permissions')?.errors }"
      />
      <small class="p-error" i18n *ngIf="userForm.get('permissions').errors?.['required']">
        Please enter the permissions.
      </small>
    </div>

    <div class="button-list">
      <p-button type="submit" styleClass="p-button-sm" [disabled]="!userForm.valid" i18n> Save </p-button>

      <p-button styleClass="p-button-sm" type="button" (click)="cancel()" i18n>Cancel</p-button>

      <p-button styleClass="p-button-sm" type="button" (click)="confirmDelete()" i18n>Delete</p-button>
    </div>
  </form>
</div>

<p-dialog
  i18n-header
  header="Naigate Away"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <p i18n class="p-m-0">Are you sure you want to navigate away and lose all changes?</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="modalChoice($event)" i18n-label label="Yes" class="p-button-text"></p-button>
    <p-button icon="pi pi-times" (click)="modalChoice($event)" i18n-label label="No"></p-button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000"></p-confirmDialog>
